@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Nunito:wght@800&display=swap');
.landing-page{
  text-align: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin-top: 1.5rem;
}

.landing-page-header, p{
  padding: 12px 16px;
}

.cover {
  width: 22rem;
}

.landing-page-body{
  padding: 23px 33px;
}

h1 {
color: #5B3758;
font-size: 36px;
text-decoration: none;
}

.login-form{
  display: flex;
  margin-top: 1.5rem;
  padding: 12px 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.form{
  margin-top: 4rem;
  margin-left: 15rem;
  justify-content: center;
}
.link {
  text-decoration: none;
}

.text-1{
  font-size: 20px;
  margin-top: 2rem;
}

.p {
  font-size: 8px;
}

.image {
  margin-top: 5rem;
  margin-left: 4rem;
}

.service{
  margin-top: 6rem;
}
